html{
font-family: 'geomanist', Helvetica, sans-serif;
font-size: 16px;
}



header {
    background: linear-gradient( rgba(107, 7, 120, 0.348), rgba(255, 255, 255, 0));
    /* padding-top: 1rem; */
    padding-bottom: 5rem;
    
   
}

header ul {

    list-style-type: none;
 
    display: flex;
    flex-direction: row;
     /* align-items: flex-end; */
    /* align-content: end;  */
    justify-content: end;
    
    /* flex-wrap: wrap; */

    margin-top: 0;
    margin-bottom: 0;
    padding-top: 2rem;
   /* padding-left: auto; */
  
    /* margin-right: 5%; */
   
}

header ul a {
    font-weight: 500;
    font-size: 3rem;
    text-decoration: none;
   
    color: black;
    margin: 1rem;
    
    /* margin: 0.5rem; */
    padding: 0.5rem;

    border: 2px solid transparent ;
    /* border-radius: 10px; */
    
}


header ul a:hover {

    border: 2px solid black;
    border-radius: 30px;
    
    

}

body {
    margin: 0; /*elimina el margen preestablecido*/
    background: linear-gradient(90grad, rgba(0, 4, 253, 0.199), rgba(252, 1, 126, 0.021));
    margin: 0 auto;
  

}

#page {

  max-width: 80%;
 margin: 0 auto;
    /* display: flex; */
    /* column-count: 2; */
    /* max-height: 500px; */

}

/* div {
    background-color: aqua;
    padding: 0.5em;
    border-radius: 1rem;
     align-content: center;
    align-items: center;
    flex-direction: column; 

     }  */

/* .tarjetas1  {
    max-width: 15rem;
    display: inline;
} */


/* #sobre mi {

    display: inline-flex;
    column-count: 2;
}  */


#foto {

    max-width: 13rem;
    
    /* margin: 0.5em;
    padding: 0.5em; */
   
   
    /* background-color: aqua;
     padding: 0.5em; 
    margin: 1rem;
    border-radius: 1rem; */
    
}

    .contenedor {
        display: flex;
    }

    #otros {
        display: flex ;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
        /* flex-direction: column; */
     
        /* column-count: 2; */
      
        /* align-content: space-around; */
        /* max-height: 500px; */
    }

.tarjetas2  {
    background-color: aqua;
    padding: 0.5em;
    border-radius: 1rem;
    
    /* display: flex; */
    
}


.tarjetas3 {
    background-color: aqua;
    padding: 0.5em;
    border-radius: 1rem;
   align-items: center;
    width: max-content;
   
}

.tarjetas4 {
    background-color: aqua;
    padding: 0.5em;
    border-radius: 1rem;
    
}

.tarjetas5 {
    background-color: aqua;
    padding: 0.5em;
    border-radius: 1rem;
    
}

.tarjetas6 {

    background-color: aqua;
    padding: 0.5em;
    border-radius: 1rem;
   align-items: center;
    width: max-content;
}



* {
    box-sizing: border-box;

}
